{% load i18n staticfiles bootstrap3 %}
{% url 'zinnia:entry_archive_index' as index %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock title %}{% block title-page %}{% endblock title-page %}</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="cache-control" content="public" />
        <meta name="robots" content="follow, all" />
        <meta name="language" content="{{ LANGUAGE_CODE }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="home" href="{{ index }}" />
        {% include 'zinnia/include/favicon.html' %}
        {% include 'zinnia/include/css.html' %}
        {% block link %}{% endblock link %}
        {% block script %}{% endblock script %}
    </head>
    <body>
        {% include 'zinnia/include/header.html' %}
        {% if request.path == index %}{% include 'zinnia/include/features.html' %}{% endif %}
        <section id="blog" class="container">
            <div class="blog">
                <div class="col-md-8">
                    {% block content %}
                        {% block breadcrumbs %}{% endblock breadcrumbs %}
                    {% endblock content %}
                </div>
                <aside class="col-md-4">
                     {% block sidebar %}
                     {% endblock sidebar %}
                 </aside>
             </div>
        </section>
        {% include 'zinnia/include/bottom.html' %}
        {% include 'zinnia/include/footer.html' %}
        {% include 'zinnia/include/js.html' %}
    </body>
</html>
